* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

body {
  background: moccasin;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.um {
  width: 100%;
  height: 1rem;
  background: #f4a460;
}

.cabecalhoPrincipal {
  width: 100%;
  background: #ffdead;
  padding: 25px;
}

.cabecalhoPrincipal-nav {
  width: auto;
}

.nav-list {
  display: flex;
  list-style: none;
}
.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}
.cabecalhoPrincipal-nav-link {
  font-family: 'Poppins';
  font-size: 18px;
  padding: 10px;
  margin-bottom: 10px;
  color: #696969;
  transition: 0.5s;
  display: block;
  width: auto;
  margin: 0 0 0 10px;
  text-decoration: none;
  font-weight: bold;
}
.cabecalhoPrincipal-nav-link:hover {
  background-color: #f4a460;
  color: rgb(0, 0, 0);
  transition: all 0, 5s;
  box-shadow: #f4a460 2px 2px 10px;
}

.titulo h1 {
  font-family: 'Poppins';
  font-size: 30pt;
  color: #363636;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 0px;
  margin-bottom: 0px;
  font-weight: bold;
}

.titulo h2 {
  font-family: 'Poppins';
  font-weight: bold;
  color: #696969;
  font-size: 15pt;
  margin-top: 0px;
}

#logo {
  width: 100px;
  height: 100px;
}

/*Parte principal do site*/

.principal {
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 400px;
  background: url(../img/fundo_.jpg) no-repeat center;
  background-size: cover;
  text-align: center;
}

.principal h1 {
  font-family: 'Poppins';
  font-size: 70px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  margin-top: 20px;
  text-shadow: black 4px 4px 15px;
  margin-bottom: 50px;
}

.principal a {
  text-transform: uppercase;
  font-weight: bold;
  padding: 25px 20px;
  width: 50px;
  background: white;
  border-radius: 10px;
  box-shadow: rgb(48, 30, 17) 2px 2px 10px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.principal a:hover {
  background-color: #f4a460;
  color: rgb(0, 0, 0);
  transition: all 0, 5s;
  box-shadow: #f4a460 2px 2px 10px;
}

/*Promoões de bolos */
.doces {
  width: 80%;
  margin: 0 auto;
}

/*#back{
    background-color: white;
    border-radius: 8px;
    
}
*/
.doces h2 {
  border: 1px;
  margin-top: 75px;
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 45px;
  text-align: center;
  color: #696969;
  text-transform: uppercase;
  border-radius: 5px 5px 0 0;
}

.doces p {
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 24px;
  color: #8b4513;
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
}

.menuDoces {
  margin-top: 40px;
  margin-bottom: 20px;
}

.menuDoces li {
  font-family: 'dose';
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: black;
  line-height: 50px;
  margin-bottom: 10px;
}

.menuDoces img {
  width: 300px;
  height: 250px;
  -webkit-transition: 0.5s ease;
  transition: 5s ease;
  border-radius: 0 0 12px 12px;
}

.menuDoces img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.menuDoces h3 {
  border-radius: 12px 12px 0 0;
  background: rgb(141, 64, 56); /* skyblue;*/
  width: 300px;
  color: white;
  font-weight: bold;
  font-family: 'Poppins';
}

.menuDoces p {
  font-family: 'Poppins';
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 20px;
  color: black;
  text-transform: initial;
  text-align: center;
}

.menuDoces h4 a {
  background-color: rgb(141, 64, 56);
  padding: 10px;
  color: white;
  line-height: 65px;
  font-family: Alright Sans, Verdana, sans-serif;
  text-decoration: none;
  line-height: 65px;
  border-radius: 4px;
  transition: 0.5s;
}

.menuDoces h4 a:hover {
  background-color: #f4a460;
  color: dimgray;
  transition: 0.8 all;
}

/*Slides das bebidas*/
.slide {
  margin-top: 20px;
}

.slide h3 {
  margin-top: 75px;
  font-family: 'dose';
  font-size: 40px;
  text-align: center;
  color: #696969;
  text-transform: uppercase;
  font-family: 'Poppins';
  font-weight: bold;
}

.slide p {
  font-family: 'Poppins';
  font-size: 24px;
  color: #8b4513;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 70px;
  margin-top: 15px;
  font-weight: bold;
}

.itens {
  display: flex;
  overflow-x: auto;
}

.itens img {
  width: 100px;
  height: 135px;
  margin-left: 30px;
  cursor: pointer;
}

/*Localização*/
.localizacao2 {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  height: 300px;
  text-align: center;
}

.localizacao h2,
.delivery h2 {
  margin-top: 75px;
  font-family: 'Poppins';
  font-size: 45px;
  text-align: center;
  color: #696969;
  text-transform: uppercase;
}

.localizacao p,
.delivery p {
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 24px;
  color: #8b4513;
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
}

.localizacao,
.delivery {
  text-align: center;
}

.pedido {
  width: 48px;
  height: 48px;
  margin: 15px;
}

/*Rodapé*/

#rodape {
  width: 100%;
  height: 90px;
  background: #f4a460;
}

#rodape p {
  font-family: cursivo;
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 50px;
}

/*Scrolbar*/
::-webkit-scrollbar ::-webkit-scrollbar-thumb ::-webkit-scrollbar-track {
  background: skyblue;
}

::-webkit-scrollbar {
  width: 4px;
  background: white;
}

::-webkit-scrollbar-thumb {
  background: rgb(141, 64, 56);
}

/*CSS para página sobre a histario da loja*/
.sobre {
  width: 80%;
  display: flex;
  background: white;
  margin: 0 auto;
  height: 550px;
  justify-content: space-between;
  border-radius: 4px;
}
.sobreNav {
  width: auto;
}

.sobreNav h1 {
  border: 1px;
  margin-top: 20px;
  margin-left: 70px;
  margin-bottom: 20px;
  font-family: 'Poppins';
  font-size: 45px;
  text-align: center;
  color: #696969;
  text-transform: uppercase;
  border-radius: 5px 5px 0 0;
}
.sobreNav p {
  font-family: 'Poppins';
  font-size: 15px;
  color: #8b4513;
  /*text-transform: uppercase;*/
  text-align: justify;
  margin-top: 15px;
  padding: 14px;
}

.sobreMissao h2 {
  margin-left: 12px;
  font-family: 'Poppins';
  font-size: 14px;
  text-align: justify;
  color: #696969;
  text-transform: uppercase;
}

/*CSS da página de contatos*/

.formStyle {
  font-family: 'Poppins';
  font-size: 12px;
  color: #8b4513;
  text-transform: uppercase;
  text-align: justify;
  margin-top: 15px;
  padding: 14px;
  font-weight: bold;
}
.Ibox {
  margin-top: 10px;
  width: 100%;
  margin-bottom: 10px;
  padding: 12px;
  border-color: #8b4513;
  border-radius: 5px;
  background-color: rgb(250, 246, 248);
}
.ultimaBox {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 32px;
  width: 100%;
  border-color: #8b4513;
  border-radius: 5px;
  background-color: rgb(250, 246, 248);
}

.formulario {
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 30px;
  text-align: justify;
  color: #8b4513;
}

.formulario h1 {
  text-transform: uppercase;
  margin-top: 10px;
}

.contatos h1 {
  padding: 30px;
  font-family: 'Poppins'; /*Alright Sans, Verdana, sans-serif;*/
  font-size: 30px;
  color: #8b4513;
  text-align: justify;
  margin-top: 15px;
  padding: 14px;
  font-weight: bold;
}

.contatos p::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #8b4513;
}

.contatos p {
  font-family: 'Poppins';
  font-size: 15px;
  color: #8b4513;
  text-align: justify;
  margin-top: 8px;
  margin-left: 20px;
  padding: 4px;
  font-weight: bold;
}

.button {
  border: none;
  color: pink;
  background-color: #8b4513;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 12px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: #f4a460;
  color: #8b4513;
  transition: 0.8 all;
  box-shadow: #f4a460 2px 2px 10px;
}

.sobre-conf h2 {
  font-family: 'Poppins';
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
  color: #8b4513;
  font-weight: bold;
}

.sobre-conf h2::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background-color: #8b4513;
}

.sobre-conf p {
  font-family: 'Poppins';
  line-height: 1.2;
  margin-bottom: 1rem;
  font-weight: bold;
}

.js [data-tab='content'] section {
  display: none;
}

[data-tab='content'] section.ativo {
  display: block !important;
}

[data-tab='content'] section.ativo.show-right {
  animation: show-right 0.5s forwards;
}

[data-tab='content'] section.ativo.show-down {
  animation: show-down 0.5s forwards;
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0, 0);
  }
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0, 0);
  }
}

.conf-lista {
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
}

.conf-lista li {
  cursor: pointer;
}

.conf-lista::-webkit-scrollbar {
  width: 18px;
}

.conf-lista::-webkit-scrollbar-thumb {
  background: #8b4513;
  border-left: 4px solid #faf6ed;
  border-right: 4px solid #faf6ed;
}

.conf-lista::-webkit-scrollbar-track {
  background: #faf6ed;
}

.conf-descricao {
  grid-column: 3;
}

.conf-descricao section {
  margin-bottom: 3rem;
}

.back-to-top.ativo {
  position: fixed;
  bottom: 25px;
  right: 50px;
  background: rgb(141, 64, 56);
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
  font-size: 12px;
  font-family: 'Poppins';
  scroll-behavior: smooth;
}
